html
  head
    link(rel='stylesheet', href='style.css')
  body
    img(src=masteryProgressionAsset, style='position:absolute; z-index:0;')
    img(src=championSquareAsset, class='borderRadiusCircle')